{# {% extends 'base.html.twig' %}

{% block title %}FreeTours.es{% endblock %}

{% block body %}
<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container-fluid d-flex align-items-center justify-content-between">
    
          <a href="{{path('principal')}}" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Freetours.es</h1>
            <span></span>
          </a>
    
          <!-- Nav Menu -->
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="{{path('principal')}}" class="active"><img src="{{ asset('static/img/casaroja.png') }}"
                    alt="Inicio" class="icono" width="28px" height="28px">Inicio</a></li>
              {% if is_granted('ROLE_ADMIN') %}
              <li><a href="{{path('admin')}}" class=""><img src="{{ asset('static/img/configuracionroja.png') }}"
                    alt="Inicio" class="icono" width="28px" height="28px">Panel de Administrador</a>
              </li>
              {% endif %}
              {% if is_granted('ROLE_GUIA') %}
              <li><a href="{{path('guia')}}" class="">Panel de Guía</a></li>
              {% endif %}
              <li><a href="{{path('admin')}}" class=""><img src="{{ asset('static/img/buscarroja.png') }}" alt="Inicio"
                    class="icono" width="28px" height="28px">Todas las ciudades</a></li>
            </ul>
    
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav><!-- End Nav Menu -->
          {% if app.user %}
          <div class="navmenu">
    
            <ul>
              <li class="dropdown has-dropdown"><a class="">Hola, {{app.user}}</a>
                <ul class="dd-box-shadow" style="right: 0; left: auto;">
                  <li><a href="{{path('app_logout')}}"><img src="{{ asset('static/img/usuario.png') }}" alt="Inicio"
                        class="icono" width="28px" height="28px">Mi Perfil</a></li>
                  <li><a href="{{path('app_logout')}}"><img src="{{ asset('static/img/cerrar-sesion.png') }}" alt="Inicio"
                        class="icono" width="28px" height="28px">Cerrar Sesión</a></li>
                </ul>
              </li>
            </ul>
    
          </div>
          {% else %}
          <div>
            <a class="btn-getstarted" href="{{path('app_login')}}"><img
                src="{{ asset('static/img/accesoblanco.png') }}" alt="Inicio" class="icono mr-3" width="28px"
                height="28px"><span>Iniciar Sesión</span></a>
            <a class="btn-getstarted" href="{{path('app_register')}}"><img
                src="{{ asset('static/img/usuariosblanco.png') }}" alt="Inicio" class="icono mr-3" width="28px"
                height="28px"><span>Registrarse</span></a>
          </div>
          {% endif %}
    
        </div>
      </header><!-- End Header --> #}

{# <main id="main">
        <div class="row">
          <h1>{{ruta.nombre}}</h1>
        </div>
        <div class="row">
          <div class="col">
            <div id="carousel">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>{{ruta.descripcion}}</p>
          </div>
          <div class="col">
            <div id="mapid">
              
            </div>
          </div>
        </div>
      </main> #}

{# <section id="hero" class="hero">
  <div class="ruta-top">
    <div class="ruta-foto">
      <img src="/fotos/{{ ruta.foto }}" alt="{{ ruta.nombre }}" data-aos="fade-in">
    </div>
    <div class="ruta-calendario">
      
    </div>
  </div>
  <div class="ruta-info">
    <h2>{{ ruta.nombre }}</h2>
    <p>{{ ruta.descripcion }}</p>
  </div>
  <div class="ruta-mapa">
    
  </div>
</section> #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
        {# enlace para el js #}
        {# enlace para el css #}
<link rel="stylesheet" href="{{ asset('static/css/calendario.css')}}" />
<section id="hero" class="hero d-flex align-items-center">
  {# <div class="ruta-foto">
    <img src="/fotos/{{ ruta.foto }}" alt="{{ ruta.nombre }}" data-aos="fade-in">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="ruta-card card">
          <div class="ruta-top card-body">
            <div class="ruta-calendario">
              
            </div>
            <div class="ruta-info row">
              <div class="carrousel col-lg-12"></div>
              <div class="nombre col-lg-8">
                <h2 class="card-title text-dark">{{ ruta.nombre }}</h2>
              </div>
              <div class="calendario col-lg-4"></div>
              <div class="descripcion col-lg-8"></div>
              <div id="mapaRuta" class="col-lg-4"><p>Punto de encuentro:</p></div>
            </div>
            <div class="ruta-mapa">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> #}

<div class="ruta-foto">
  <img src="/fotos/{{ ruta.foto }}" alt="{{ ruta.nombre }}" data-aos="fade-in">
</div>
<div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
  <div class="row">

    {# <div class="col-xl-5 content">
      <h3>About Us</h3>
      <h2>Ducimus rerum libero reprehenderit cumque</h2>
      <p>Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque alias maxime. Enim reiciendis minus et rerum hic non. Dicta quas cum quia maiores iure. Quidem nulla qui assumenda incidunt voluptatem tempora deleniti soluta.</p>
      <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
    </div> #}

    <div class="col-xl-12">
      <div class="row gy-4 icon-boxes bg-white rounded shadow-sm opacity-75">

        {# <div class="col-lg-12 col-sm-12">
          <h2 class="text-dark">{{ ruta.nombre }}</h2>
          <div class="descripcion text-dark"></div>
        </div> #}
        {# <div class="col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"> #}
          {# <div class="icon-box bg-white rounded d-flex"> #}
            <div class="col-lg-7 col-sm-12">
              <h2 class="text-dark">{{ ruta.nombre }}</h2>
              <div class="descripcion text-dark"></div>
            </div>
            <div class="col-lg-5 col-sm-12">
              <p class="text-dark">Punto de encuentro:</p>
              <div class="rounded mb-2 mt-2 bg-white opaco">
                <div id="mapaRuta" class="rounded mb-2 mt-2 bg-white opaco" style="height: 300px;"></div>
              </div>
            </div>
            <div class="">
              <h3 class="text-dark">Reservar</h3>

              {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Reservar</button>
              {{ form_end(form) }}
              
                  {# <select>
                      {% for tour in tours %}
                      <option class="text-dark">{{ tour.fechaHora|date('d-m-Y H:i') }}</option>
                      
                      {% endfor %}
                  </select> #}
              
              {# <h2 class="text-dark">{{ tours[0].nombre }}</h2> #}
            </div>
            
          {# </div> #}
        {# </div> #}

      </div>
    </div>

  </div>
</div>
  
</section>



{# </body>
{% endblock %} #}