{% include '@EasyAdmin/page/content.html.twig' %}

<div id="nuevaRuta">
	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="UTF-8" />
		{#<script src="js/jquery-3.7.1.js"></script>#}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{# enlaces confiables para Jquery y Jquery UI  #}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

		{# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/> #}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
		</script>
		{# enlace para el JS del plugin del editor de texto (jq widget) #}
		<script type="text/javascript" src="https://jqwidgets.com/public/jqwidgets/jqx-all.js"></script>

		{#<script src="{{ asset('estilos/fineuploader/jquery.fine-uploader.min.js')}}"></script>#}
		{# enlace para el CSS del plugin del editor de texto (jq widget) #}
		<link rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" type="text/css" />

		{# enlace para el JS del plugin del uploader de ficheros #}
		<script src="{{ asset('estilos/uploader/dist/image-uploader.min.js')}}"></script>

		{# enlace para el CSS del plugin del uploader de ficheros #}
		<link rel="stylesheet" href="{{ asset('estilos/uploader/dist/image-uploader.min.css')}}" type="text/css" />

		<!-- Incluye los archivos CSS y JavaScript de Leaflet -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

		<!-- enlace para el css extra del formulario -->
		<link rel="stylesheet" href="{{ asset('static/css/nuevaRuta.css')}}" />

		<!-- enlace para el js del formulario -->
		<script src="{{ asset('static/js/nuevaRuta.js')}}"></script>

		<title>Ruta Nueva</title>
	</head>

	<body>
		<div class="container mt-1 p-3 border rounded shadow-sm">
			<h1 class="text-center display-4">Ruta Nueva</h1>
			<form id="tabs" enctype="multipart/form-data">
				<ul>
					<li><a href="#tabs-1">Paso 1</a></li>
					<li><a href="#tabs-2">Paso 2</a></li>
					<li><a href="#tabs-3">Paso 3</a></li>
				</ul>
				<div id="tabs-1" class="mt-1 p-3 border rounded">
					<div class="mb-3">
						<label for="titulo" class="form-label">Título</label>
						<input type="text" class="form-control" id="titulo" />
					</div>
					<div class="mb-3">
						<label for="descripcion" class="form-label">Descripción</label>
						<div id="descripcion"></div>
					</div>

				</div>
				{# <div class="btn-container mb-3">
					<button class="btn btn-primary siguiente">Siguiente</button>
				</div> #}
				<div id="tabs-2" class="mt-1 p-3 border rounded">
					<div class="mb-3">
						<label for="foto" class="form-label">Imagen</label>
						<div class="input-images"></div>
						{# <input type="file" id="sueltaFoto" name="foto"></input> #}
					</div>
					<div class="row mb-3">
						<div class="col">
							<label for="coord_inicio" class="form-label">Punto de inicio</label>
							<input type="text" class="form-control" id="coord_inicio"
								placeholder="Click para desplegar el mapa">
							<div id="mapaDialog">
								<div id="mapid" style="height: 300px;"></div>
								<!-- input para la ciudad y un botón para buscarla style="height: 180px;"-->
								<input type="text" class="form-control" id="sitio">
								<button id="buscarLugar" class="btn btn-primary">Buscar</button>
							</div>

							<!--<button onclick="searchCity(event)" class="btn btn-primary">Buscar</button>-->
						</div>
						<div class="col">
							<label for="aforo" class="form-label">Aforo</label>
							<input type="number" id="aforo" name="aforo" min="1" max="100" class="form-control" />
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label for="inicio" class="form-label">Inicio</label>
							<input type="text" class="form-control" id="inicio" name="inicio">
						</div>
						<div class="col">
							<label for="fin" class="form-label">Fin</label>
							<input type="text" class="form-control" id="fin" name="fin">
						</div>
					</div>

				</div>

				<div id="tabs-3" class="mt-1 p-3 border rounded">
					<div class="container mb-3">
						<div class="row mt-1">
							<h3 class="text-center col-5">Items disponibles</h3>
							<div class="col-2"></div>
							<h3 class="text-center col-5">Items de la Ruta</h3>
						</div>

						<div class="row mt-1">

							<div class="col-12 col-md-5 border" style="height: 300px; border-radius: 5px">
								{# <h3 class="text-center">Items</h3> #}
								<ul id="sortable1" class="connectedSortable">
									<li class="ui-state-default">Item 1</li>
									<li class="ui-state-default">Item 2</li>
									<li class="ui-state-default">Item 3</li>
									<li class="ui-state-default">Item 4</li>
									<li class="ui-state-default">Item 5</li>
								</ul>
							</div>
							<div class="col-12 col-md-2">

							</div>

							<div class="col-12 col-md-5 border" style="height: 300px; border-radius: 5px">
								{# <h3 class="text-center">Items de la Ruta</h3> #}
								<ul id="sortable2" class="connectedSortable" style="height: 100%; width: 100%;">

								</ul>
							</div>
						</div>
					</div>
				</div>
				{# <div class="btn-container mb-3">
					<button href="" class="btn btn-primary atras">Anterior</button>
				</div> #}
				<div class="btn-container mb-3 mt-1 pt-2">
					<div class="botonera">
						<button href="" class="btn btn-primary atras">Anterior</button>
					</div>
					<div class="botonera"></div>
					<div class="botonera">
						<button href="" class="btn btn-primary siguiente">Siguiente</button>
					</div>
				</div>
			</form>
		</div>
	</body>

	</html>
</div>
