{# {% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Hola,  {{ app.user.nombre }}, <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">Contraseña</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        > #}

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        {# <button class="btn btn-lg btn-primary" type="submit">
            Iniciar Sesión
        </button>
    </form>
{% endblock %} #}

{% extends 'home/home.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center always-show-shadow" style="box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{{path('principal')}}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Freetours.es</h1>
        <span></span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{path('principal')}}" class="active"><img src="{{ asset('static/img/casaroja.png') }}"
                alt="Inicio" class="icono" width="28px" height="28px">Inicio</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{path('admin')}}" class=""><img src="{{ asset('static/img/configuracionroja.png') }}"
                alt="Inicio" class="icono" width="28px" height="28px">Panel de Administrador</a>
          </li>
          {% endif %}
          {% if is_granted('ROLE_USER') %}
          <li><a href="{{path('listadoReservas')}}" class="">Mis Reservas</a></li>
          {% endif %}
          <li><a href="{{path('admin')}}" class=""><img src="{{ asset('static/img/buscarroja.png') }}" alt="Inicio"
                class="icono" width="28px" height="28px">Todas las ciudades</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      {% if app.user %}
      <div class="navmenu">

        <ul>
          <li class="dropdown has-dropdown"><a class="">Hola, {{app.user}}</a>
            <ul class="dd-box-shadow" style="right: 0; left: auto;">
              <li><a href="{{path('app_logout')}}"><img src="{{ asset('static/img/usuario.png') }}" alt="Inicio"
                    class="icono" width="28px" height="28px">Mi Perfil</a></li>
              <li><a href="{{path('app_logout')}}"><img src="{{ asset('static/img/cerrar-sesion.png') }}" alt="Inicio"
                    class="icono" width="28px" height="28px">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
        {# <a class="active">Hola, {{app.user}}</a> #}

      </div>
      {% endif %}

    </div>
  </header><!-- End Header -->
  {# <div class="container d-flex align-items-center justify-content-center vh-100">
    
        <div class="col-lg-4 col-md-10">
            <div class="card">
                <div class="card-header bg-danger text-white text-center">Iniciar Sesión</div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Hola,  {{ app.user.nombre }}, <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <input type="hidden" name="app_register" value="/register">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div> #}

{# <div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">Iniciar Sesión</div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Hola,  {{ app.user.nombre }}, <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <input type="hidden" name="app_register" value="/register">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> #}

<div class="container" style="margin-top: 150px;">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card">

                <h3 class="text-center mt-4">Iniciar Sesión</h3>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Hola,  {{ app.user.nombre }}, <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
                            </div>
                        {% endif %}

                        <div class="form-group mb-3">
                            <label for="username">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="form-group mb-3">
                            <label for="password">Contraseña</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <input type="hidden" name="app_register" value="/register">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mb-3">Iniciar Sesión</button>
                            <p>¿No tienes una cuenta? <a href="{{ path('app_register') }}">Regístrate</a></p>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}

{# {% extends 'base.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">Iniciar Sesión</div>
                <div class="card-body">
                    <form method="post" class="sign-up-form d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Hola,  {{ app.user.nombre }}, <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <input type="hidden" name="app_register" value="/register">
                        <div class="form-group">
                            <button type="submit" class="btn-getstarted">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} #}

{# {% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="{{ asset('estilos/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('estilos/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ asset('estilos/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ asset('estilos/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
    <link href="{{ asset('estilos/assets/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{ asset('estilos/assets/css/main.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <form method="post" class="php-email-form aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                
                        {% if app.user %}
                            <div class="mb-3">
                                Hola,  {{ app.user.nombre }}, <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
                            </div>
                        {% endif %}
                
                        <div class="col-md-12">
                            <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
                        </div>
                
                        <div class="col-md-6">
                            <label for="username">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>
                
                        <div class="col-md-6">
                            <label for="password">Contraseña</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>
                
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                        <div class="col-md-12 text-center">
                            <button type="submit">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
</div>
</div>
</div>
</div>
<script src="{{ asset('estilos/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ asset('estilos/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
        <script src="{{ asset('estilos/assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
        <script src="{{ asset('estilos/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
        <script src="{{ asset('estilos/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
        <script src="{{ asset('estilos/assets/vendor/aos/aos.js')}}"></script>
        <script src="{{ asset('estilos/assets/vendor/php-email-form/validate.js')}}"></script>
{% endblock %} #}

